html,
body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: $nav-width 1fr;
  grid-template-rows: $header-height auto;
  grid-template-areas:
    "header header"
    "nav main-content";
}

.header { grid-area: header; }
.nav { grid-area: nav; }
.main-content {
  grid-area: main-content;
  overflow-y: scroll;
  padding: 2em;
}

.layout--standard-page {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-column-gap: 2rem;
  grid-template-areas:
    "header header"
    "charts scorecards";
}

.layout__header--standard-page { grid-area: header; }
.layout__charts--standard-page { grid-area: charts; }
.layout__scorecards--standard-page { grid-area: scorecards; }
