// Spacing and grid
$spacer: 1rem // Translates to 10px because of 62.5% font size on html (basics/typography)
$header-height: 50px
$nav-width: 240px

// Breakpoints
$screen-sm: 375px
$screen-md: 768px
$screen-lg: 1024px
$screen-xl: 1200px

// Colors
$white: #fff
$grey-dark: #333
$grey-bg: #e8e8e8

$confirmed-cases-color: #20639B
$hospitalized-color: #F6D55C
$icu-color: #ED553B
$deaths-color: #333

// Typography
$font-family-primary: 'Lato', sans-serif
