// Spacing and grid
$spacer: 1rem // 10px because of the percent on the html
$header-height: 50px
$nav-width: 240px

// Colors
$white: #fff
$grey-dark: #333
$grey-bg: #e8e8e8

// Typography
$font-family-primary: 'Lato', sans-serif
