.nav
  z-index: 100

.nav__mobile-toggle
  position: relative
  z-index: 100
  background: transparent
  border: 0
  height: $header-height
  width: $header-height
  padding: 1rem
  outline: none

  @media (min-width: $screen-lg)
    display: none

  > span
    display: block
    position: relative
    width: 100%
    height: 4px
    background-color: $grey-dark
    opacity: 1
    transition: background-color .15s ease-in-out

    &:before,
    &:after
      content: ''
      display: block
      position: absolute
      height: 4px
      width: 100%
      top: -10px
      background-color: $grey-dark
      transform-origin: 100%
      transition: transform .15s ease-in-out

    &:after
      top: 10px

    .nav--open &
      background-color: $grey-bg

      &:before
        transform: rotate(-45deg)

      &:after
        transform: rotate(45deg)

.nav__items
  position: fixed
  top: $header-height
  left: 0
  bottom: 0
  width: $nav-width
  transform: translateX(-$nav-width)
  transition: transform .15s ease-in-out

  .nav--open &
    transform: translateX(0)

  @media (min-width: $screen-lg)
    position: relative
    transform: translateX(0)
    top: auto

.nav__item
  display: grid
  position: relative
  padding: $spacer * 2 $spacer
  font-size: 1.8rem
  text-decoration: none
  grid-template-columns: 1fr 65px
  text-transform: uppercase
  font-weight: 300
  color: $grey-dark
  align-items: center
  transition: background-color .15s ease-in-out

  &:hover,
  &[aria-current="page"]
    background-color: rgba($grey-dark, .2)

  &.nav__item--confirmed-cases
    &:hover,
    &[aria-current="page"]
      background-color: $confirmed-cases-color
      color: $white

  &.nav__item--hospitalized
    &:hover,
    &[aria-current="page"]
      background-color: $hospitalized-color

  &.nav__item--icu
    &:hover,
    &[aria-current="page"]
      background-color: $icu-color
      color: $white

  &.nav__item--deaths
    &:hover,
    &[aria-current="page"]
      background-color: $deaths-color
      color: $white

.nav__item__number-container

.nav__item__daily-count
  display: block
  text-align: center
  font-size: 2.4rem
  margin-bottom: .15rem
  font-weight: 400

.nav__item__daily-growth-rate
  display: block
  text-align: center
  font-size: 1rem
