.scorecard
  text-align: center
  padding: 1rem
  margin: 0 1rem 1rem
  background-color: $grey-bg

.scorecard__title
  margin-bottom: 0

.scorecard__big-number
  display: block
  font-size: 94px // todo:: change or explain magical number

.scorecard__comparison
  display: block
