html,
body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: $nav-width 1fr;
  grid-template-rows: $header-height auto;
  grid-template-areas:
    "header header"
    "nav main";
}

.header { grid-area: header; }

.nav { grid-area: nav; }

.main {
  grid-area: main;
  overflow-y: scroll;
  display: grid;
}

.main__header {
  margin-bottom: $spacer * 2;
  padding-bottom: $spacer * 2;
  border-bottom: 1px solid $grey-bg;
  padding: $spacer * 2;
}

.main__content {
  padding: $spacer * 2;
}
